section {
  font-family: 'Poppins', sans-serif;

  .header {
    padding: 2rem;
    height: fit-content;
    text-align: start;
    color: white;

    background: var(--primary-color);
    background: linear-gradient(90deg, rgba(59, 181, 238, 1) 0%, rgba(0, 206, 247, 1) 50%, rgba(67, 216, 232, 1) 100%);
  }

  .content {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
    padding: 1rem;
    margin: 2rem;

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .informationCard {
        width: 100%;
        color: white;
        background-color: var(--primary-color);
        padding: 1rem;
      }

      .card-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
      }

      .profileCard {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        text-align: start;
        justify-content: center;
      }

      .detailsCard {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          gap: 0.5rem;

          width: fit-content;
          font-size: 0.9rem;
          color: white;
          background-color: var(--primary-color);
          border-radius: 9999px;
          padding: .125rem .625rem;

          p {
            padding-top: 0.2em;
          }
        }
      }
    }

    .mainContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      width: 100%;
    }
  }
}

@media (max-width: 950px) {
  section {

    .content {
        grid-template-columns: 1fr; /* Colunas empilhadas */
    }
  }
}
