<footer>
  <section>
    <div>
      <aside>
        <img src="https://www.emailkampane.cz/web/1588c43397844d9c1844ce1134211a0f.svg" alt="Logo">
        <h2>TripPlanner</h2>
      </aside>
      <p></p>
    </div>
    <div>
      <h2>Recursos</h2>
      <ul>
        <li><a href="https://www.tripplanner.com">TripPlanner</a></li>
        <li><a href="https://www.tripplanner.com/faq">FAQ</a></li>
        <li><a href="https://www.tripplanner.com/support">Support</a></li>
      </ul>
    </div>
    <div>
      <h2>Empresa</h2>
      <ul>
        <li><a href="https://www.tripplanner.com">Sobre Nós</a></li>
        <li><a href="https://www.tripplanner.com/faq">Contato</a></li>
        <li><a href="https://www.tripplanner.com/support">Carreiras</a></li>
      </ul>
    </div>
    <div>
      <h2>Legal</h2>
      <ul>
        <li><a href="https://www.tripplanner.com">Termos de Serviço</a></li>
        <li><a href="https://www.tripplanner.com/faq">Política de Privacidade</a></li>
        <li><a href="https://www.tripplanner.com/support">Cookies</a></li>
      </ul>
    </div>
  </section>
  <div class="footer-bottom">
    <div class="divider"></div>
    <p>© 2025 TripPlanner. Todos os direitos reservados.</p>
  </div>
</footer>
