<section>
  <div class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">Gerais</p-step>
        <p-step [value]="2">Destinos</p-step>
        <p-step [value]="3">Roteiro</p-step>
        <p-step [value]="4">Custos</p-step>
        <p-step [value]="5">Resumo</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                Gerais
              </div>
              <div class="flex pt-6 justify-end">
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                Destinos
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button
                label="Back"
                severity="secondary"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(1)"
              />
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(3)"
              />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                Roteiro
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button
                label="Back"
                severity="secondary"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(2)"
              />
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(4)"
              />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                Custos
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button
                label="Back"
                severity="secondary"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(3)"
              />
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(5)"
              />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="5">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
              >
                Resumo
              </div>
            </div>
            <div class="flex pt-6 justify-start">
              <p-button
                label="Back"
                icon="pi pi-arrow-left"
                iconPos="right"
                (onClick)="activateCallback(4)"
              />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
</section>
