<section>
  <div class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">Gerais</p-step>
        <p-step [value]="2">Roteiro</p-step>
        <p-step [value]="3">Custos</p-step>
        <p-step [value]="4">Resumo</p-step>
      </p-step-list>
      <p-step-panels class="painel">
        <form [formGroup]="travelForm" class="flex flex-col gap-4">
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium"
                >
                  <!-- Step Gerais começa aqui!  -->
                  <main>
                    <div class="header">
                      <h2>Informações Gerais</h2>

                      <p-floatlabel class="w-full">
                        <input
                          pInputText
                          id="over_label"
                          formControlName="nome"
                          autocomplete="off"
                          class="w-full"
                        />
                        <label for="over_label">Defina um nome para a Viagem</label>
                      </p-floatlabel>
                    </div>

                    <div class="datas">
                      <div>
                        <label for="start" class="font-bold block mb-2">
                          Data de Início
                        </label>
                        <p-datepicker
                          formControlName="dataInicio"
                          dateFormat="dd/mm/yy"
                          [iconDisplay]="'input'"
                          [showIcon]="true"
                          placeholder="dd/mm/aaaa"
                          inputId="start"
                        />
                      </div>
                      <div>
                        <label for="finish" class="font-bold block mb-2">
                          Data de Fim
                        </label>
                        <p-datepicker
                          formControlName="dataFim"
                          dateFormat="dd/mm/yy"
                          [iconDisplay]="'input'"
                          [showIcon]="true"
                          placeholder="dd/mm/aaaa"
                          inputId="finish"
                        />
                      </div>
                    </div>

                    <div class="input-url">
                      <p-inputgroup>
                        <p-inputgroup-addon>URL</p-inputgroup-addon>
                        <input
                          pInputText
                          formControlName="url"
                          placeholder="Link da imagem de capa"
                        />
                      </p-inputgroup>
                    </div>
                    @if (travelForm.get('url')?.value) {
                    <div class="card flex justify-center p-2">
                      <p-image
                        src="{{ travelForm.get('url')?.value }}"
                        alt="Image"
                        width="250"
                        [preview]="true"
                      />
                    </div>
                    }
                  </main>
                  <!-- Step Gerais temina aqui!  -->
                </div>
                <div class="flex pt-6 justify-end">
                  <p-button
                    label="Next"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    (onClick)="activateCallback(2)"
                  />
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <!-- Step Roteiro começa aqui!  -->
          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium"
                >
                  <main>
                    <div class="header">
                      <div class="flex justify-center items-center">
                        <div>
                          <p-floatlabel class="w-full">
                            <input
                              pInputText
                              formControlName="destino"
                              autocomplete="off"
                              class="w-full"
                            />
                            <label for="over_label">Destino da Viagem</label>
                          </p-floatlabel>
                        </div>
                        <div>
                          <p-floatlabel class="w-full">
                            <input
                              pInputText
                              [formControl]="attractionInput"
                              autocomplete="off"
                              class="w-full"
                            />
                            <label for="over_label">Informe a atração</label>
                          </p-floatlabel>
                        </div>
                        <p-button
                          label="Adicionar"
                          (onClick)="addAttraction()"
                        />
                      </div>

                      <div class="card flex justify-center">
                        <p-virtualscroller [items]="atracoesList" [itemSize]="50" scrollHeight="300px" [style]="{ width: '500px', height: '300px' }">
                          <ng-template let-atracao pTemplate="item">
                            @if (atracao.isAttraction) {
                              <aside class="flex items-center p-2" style="height: 50px;">
                                <span class="grow-6"> <i class="pi pi-map" style="color: #0ea5e9"></i> {{ atracao.nome }}</span>
                                <button
                                  id="delete-button"
                                  class="ml-auto p-button p-component p-button-text"
                                  (click)="deleteItem($event, atracao.id)"
                                  pButton
                                  icon="pi pi-trash"
                                  styleClass="p-button-text p-button-rounded"
                                  aria-label="Remove"
                                ></button>
                              </aside>
                            }
                          </ng-template>
                        </p-virtualscroller>
                      </div>

                      <!-- PopUp de confirmação aba roteiro -->
                      <div class="card flex justify-center gap-2">
                          <p-toast />
                          <p-confirmpopup />
                      </div>

                    </div>
                  </main>
                </div>
              </div>
              <div class="flex pt-6 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                />
              </div>
            </ng-template>
          </p-step-panel>
          <!-- Step Roteiro termina aqui!  -->

          <!-- Step Custos começa aqui!  -->
          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium"
                >
                  <main>
                    <div class="card flex justify-center">
                        <p-accordion [value]="['0', '2', '3']" [multiple]="true">
                              <p-accordion-panel value="0">
                                  <p-accordion-header>Passagens</p-accordion-header>
                                  <p-accordion-content class="flex flex-col gap-2">
                                    <menuitem class="flex justify-between items-center w-full">
                                      <label for="company" class="font-bold block mb-2" [style]="{ width: '100%' }">Companhia Aerea:</label>
                                        <p-inputgroup class="md:!w-80">
                                            <p-inputgroup-addon>
                                                <i class="pi pi-briefcase"></i>
                                            </p-inputgroup-addon>
                                            <p-iftalabel [style]="{ width: '200px' }">
                                                <input pInputText inputId="company" [formControl]="GastoNome" />
                                                <label for="company">Nome</label>
                                            </p-iftalabel>
                                        </p-inputgroup>
                                    </menuitem>
                                    <menuitem id="menu-item" class="flex justify-between items-center w-full">
                                      <label for="price" class="font-bold block mb-2" [style]="{ width: '100%' }">Valor da Passagem:</label>
                                        <p-inputgroup class="md:!w-80">
                                            <p-inputgroup-addon>
                                                <i class="pi pi-dollar"></i>
                                            </p-inputgroup-addon>
                                            <p-iftalabel [style]="{ width: '200px' }">
                                                <p-inputnumber inputId="price" mode="currency" currency="BRL" locale="pt-BR" [formControl]="GastoPreco" />
                                                <label for="price">Valor</label>
                                            </p-iftalabel>
                                        </p-inputgroup>
                                    </menuitem>
                                    <aside class="flex justify-end w-full">
                                      <p-button
                                        id="save-button"
                                        label="Salvar"
                                        icon="pi pi-save"
                                        iconPos="right"
                                        (click)="addGasto()"
                                      />
                                    </aside>
                                  </p-accordion-content>
                              </p-accordion-panel>

                              <p-accordion-panel value="1">
                                  <p-accordion-header>Hospedagem</p-accordion-header>
                                  <p-accordion-content>
                                    <menuitem class="flex justify-between items-center w-full">
                                      <label for="host" class="font-bold block mb-2" [style]="{ width: '100%' }">Local da Hospedagem:</label>
                                        <p-inputgroup class="md:!w-80">
                                            <p-inputgroup-addon>
                                                <i class="pi pi-home"></i>
                                            </p-inputgroup-addon>
                                            <p-iftalabel [style]="{ width: '200px' }">
                                                <input pInputText inputId="host" [formControl]="GastoNome" />
                                                <label for="host">Nome</label>
                                            </p-iftalabel>
                                        </p-inputgroup>
                                    </menuitem>
                                    <menuitem id="menu-item" class="flex justify-between items-center w-full">
                                      <label for="price" class="font-bold block mb-2" [style]="{ width: '100%' }">Valor da Hospedagem:</label>
                                        <p-inputgroup class="md:!w-80">
                                            <p-inputgroup-addon>
                                                <i class="pi pi-dollar"></i>
                                            </p-inputgroup-addon>
                                            <p-iftalabel [style]="{ width: '200px' }">
                                                <p-inputnumber inputId="price" mode="currency" currency="BRL" locale="pt-BR" [formControl]="GastoPreco" />
                                                <label for="price">Valor</label>
                                            </p-iftalabel>
                                        </p-inputgroup>
                                    </menuitem>
                                    <aside class="flex justify-end w-full">
                                      <p-button
                                        id="save-button"
                                        label="Salvar"
                                        icon="pi pi-save"
                                        iconPos="right"
                                        (click)="addGasto()"
                                      />
                                    </aside>
                                  </p-accordion-content>
                              </p-accordion-panel>

                              <p-accordion-panel value="2">
                                  <p-accordion-header>Atrações</p-accordion-header>
                                  <p-accordion-content>
                                    <p-virtualscroller [items]="atracoesList" [itemSize]="50" scrollHeight="200px" [style]="{ width: '500px', height: '300px' }">
                                      <ng-template let-atracao pTemplate="item">
                                          <aside class="flex items-center p-2" style="height: 50px;">
                                            <span class="grow-6"> <i class="pi pi-map" style="color: #0ea5e9"></i> {{ atracao.nome }}</span>
                                            <span class="grow-2 text-end">R$ {{ atracao.valor }}</span>
                                            <button
                                              class="ml-auto p-button p-component p-button-text"
                                              (click)="editAttraction(atracao.id)"
                                              pButton
                                              icon="pi pi-pen-to-square"
                                              styleClass="p-button-text p-button-rounded"
                                              aria-label="Remove"
                                            ></button>
                                            @if(atracao.isAttraction) {
                                              <button
                                                id="delete-button"
                                                class="ml-auto p-button p-component p-button-text"
                                                (click)="deleteItem($event, atracao.id)"
                                                pButton
                                                icon="pi pi-trash"
                                                styleClass="p-button-text p-button-rounded"
                                                aria-label="Remove"
                                              ></button>
                                            }
                                          </aside>
                                      </ng-template>
                                    </p-virtualscroller>
                                  </p-accordion-content>
                              </p-accordion-panel>

                              <p-accordion-panel value="3">
                                  <p-accordion-header>Gastos</p-accordion-header>
                                  <p-accordion-content>
                                    <p-virtualscroller [items]="gastosList" [itemSize]="50" scrollHeight="200px" [style]="{ width: '500px', height: '300px' }">
                                      <ng-template let-gasto pTemplate="item">
                                          <aside class="flex items-center p-2" style="height: 50px;">
                                            <span class="grow-6"> <i class="pi pi-map" style="color: #0ea5e9"></i> {{ gasto.descricao }}</span>
                                            <span class="grow-2 text-end">R$ {{ gasto.valor }}</span>
                                            <button
                                              class="ml-auto p-button p-component p-button-text"
                                              (click)="editAttraction(gasto.id)"
                                              pButton
                                              icon="pi pi-pen-to-square"
                                              styleClass="p-button-text p-button-rounded"
                                              aria-label="Remove"
                                            ></button>
                                            @if(gasto.isAttraction) {
                                              <button
                                                id="delete-button"
                                                class="ml-auto p-button p-component p-button-text"
                                                (click)="deleteItem($event, gasto.id)"
                                                pButton
                                                icon="pi pi-trash"
                                                styleClass="p-button-text p-button-rounded"
                                                aria-label="Remove"
                                              ></button>
                                            }
                                          </aside>
                                      </ng-template>
                                    </p-virtualscroller>
                                  </p-accordion-content>
                              </p-accordion-panel>
                          </p-accordion>
                      </div>
                  </main>
                </div>
              </div>
              <div class="flex pt-6 justify-between">
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(2)"
                />
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(4)"
                />
              </div>
            </ng-template>
          </p-step-panel>
          <!-- Step Custos termina aqui!  -->

          <!-- Step Resumo começa aqui!  -->
          <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <div
                  class="border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium"
                >
                  <main>
                    <div class="header">
                      <h2>Resumo da Viagem</h2>
                      <p>Destino: {{ travelForm.get('destino')?.value }}</p>
                      <p>Data de Início: {{ travelForm.get('dataInicio')?.value ? (travelForm.get('dataInicio')?.value | date:'dd/MM/yyyy') : '-' }}</p>
                      <p>Data de Fim: {{ travelForm.get('dataFim')?.value ? (travelForm.get('dataFim')?.value | date:'dd/MM/yyyy') : '-'  }}</p>
                      <p>Destino: {{ travelForm.get('destino')?.value }}</p>
                      <div class="card flex justify-center p-2">
                        @if (travelForm.get('url')?.value) {
                          <p-image
                            src="{{ travelForm.get('url')?.value }}"
                            alt="Image"
                            width="250"
                            [preview]="true"
                          />
                        }
                      </div>
                      <div>
                        <p>Lista de Atrações:</p>
                        <p-virtualscroller [items]="atracoesList" [itemSize]="50" scrollHeight="300px" [style]="{ width: '500px', height: '300px' }">
                          <ng-template let-gasto pTemplate="item">
                            <aside class="flex items-center p-2" style="height: 50px;">
                              <span class="grow-6"> <i class="pi pi-dollar" style="color: #0ea5e9"></i> {{ gasto.nome }}</span>
                              <span class="grow-2 text-end">R$ {{ gasto.valor }}</span>
                            </aside>
                          </ng-template>
                        </p-virtualscroller>
                      </div>
                      <div>
                        <p>Lista de Gastos:</p>
                        <p-virtualscroller [items]="gastosList" [itemSize]="50" scrollHeight="300px" [style]="{ width: '500px', height: '300px' }">
                          <ng-template let-gasto pTemplate="item">
                            <aside class="flex items-center p-2" style="height: 50px;">
                              <span class="grow-6"> <i class="pi pi-dollar" style="color: #0ea5e9"></i> {{ gasto.descricao }}</span>
                              <span class="grow-2 text-end">R$ {{ gasto.valor }}</span>
                            </aside>
                          </ng-template>
                        </p-virtualscroller>
                      </div>
                      <p>Valor Total: R$ {{ travelForm.get('totalGastos')?.value }}</p>
                    </div>
                    <p>Você pode salvar a viagem para visualizá-la mais tarde.</p>
                    <p>Certifique-se de que todas as informações estão corretas antes de salvar.</p>
                    <p>Após salvar, você poderá editar ou excluir a viagem na lista de viagens.</p>
                    <p>Se precisar fazer alterações, você pode voltar aos passos anteriores.</p>
                    <p>Obrigado por usar nosso sistema de planejamento de viagens!</p>
                    <aside class="flex justify-end w-full">
                      <p-button
                      id="save-button"
                      label="Salvar Viagem"
                      icon="pi pi-save"
                      iconPos="right"
                      (click)="addTravel()"
                      />
                    </aside>
                  </main>
                </div>
              </div>
              <div class="flex pt-6 justify-start">
                <p-button
                  label="Back"
                  icon="pi pi-arrow-left"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                />
              </div>
            </ng-template>
          </p-step-panel>
          <!-- Step Resumo termina aqui!  -->

          <!-- Modal começaa aqui!  -->
           <section [formGroup]="editForm" class="card flex justify-center">
              <p-dialog class="modal" header="Edite a Atração" [modal]="true" [(visible)]="visible" [style]="{ display: 'flex', gap: '1rem', width: '25rem' }">
                <aside class="flex items-center justify-between">
                  <label for="edit-nome">Atração</label>
                  <input pInputText id="edit-nome" formControlName="nome" autocomplete="off" />
                </aside>
                <aside class="flex items-center justify-between">
                  <label for="edit-preco">Preço</label>
                  <input pInputText id="edit-preco" type="number" formControlName="valor" autocomplete="off" />
                </aside>
                <aside class="flex justify-end gap-2">
                  <p-button label="Atualizar" (click)="saveAttraction()" />
                </aside>
              </p-dialog>
                <div class="card flex justify-center gap-2">
                  <p-toast />
                  <p-confirmpopup />
                </div>
          </section>
          <!-- Modal termina aqui!  -->
        </form>
      </p-step-panels>
    </p-stepper>
  </div>
</section>
