<nav>
  <div class="logo">
    <img src="https://www.emailkampane.cz/web/1588c43397844d9c1844ce1134211a0f.svg" alt="Logo do site">
    <p>TripPlanner</p>
  </div>
  <div>
    <ul>
      <li><a class="route" routerLink="/">Minhas Viagens</a></li>
      <li><a class="route" routerLink="/about">Recusos</a></li>
      <li><a class="route" routerLink="/contact">Blog</a></li>
      <li>
        <a class="button" routerLink="/newtrip" routerLinkActive="active">
          Criar Nova Viagem
        </a>
      </li>
    </ul>
  </div>
  <div>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" class="mr-2" size="normal" shape="circle" />
  </div>
</nav>
