<nav>
  <div class="logo" routerLink="/">
    <img src="images/logo.svg" alt="Logo do site">
    <p>TripPlanner</p>
  </div>
  <div>
    <ul>
      <li><a class="route" routerLink="/">Home</a></li>
      <li><a class="route" routerLink="/travels">Minhas Viagens</a></li>
      <li><a class="route" routerLink="/about">Blog</a></li>
      <li>
        <a class="button" routerLink="/newtrip" routerLinkActive="active">
          Criar Nova Viagem
        </a>
      </li>
    </ul>
  </div>
  <div style="display: flex; gap: 0.5rem; align-items: center; justify-content: center;">
    <div>
      <p-avatar class="avatar" [image]="imageUrl" class="mr-2" size="large" shape="circle" loading="lazy" />
    </div>
    <div style="height: 40px; position: relative;">
      <p-speeddial [model]="items" direction="down"/>
    </div>
  </div>
</nav>
