nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 1rem;

  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

nav img {
  width: 50px;
  height: auto;
}

nav p {
  margin-left: 10px;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  cursor: pointer;
}
nav ul li .route:hover {
  color: #4fb9ea;
}

nav div:last-child {
  width: 50px;
  height: 50px;
  background-color: #444;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.button {
  background-color: #3bb5ee;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background-color: #209dd2;
}
