<section class="app-container">
  <ng-container *ngIf="!isLoginPage && !isSignUpPage; else authPages">
    <div class="app-nav">
      <app-navbar></app-navbar>
    </div>

    <div class="app-main">
      <router-outlet></router-outlet>
    </div>

    <div class="app-footer">
      <app-footer></app-footer>
    </div>
  </ng-container>

  <ng-template #authPages>
    <ng-container *ngIf="isLoginPage">
      <app-sign-in></app-sign-in>
    </ng-container>
    <ng-container *ngIf="isSignUpPage">
      <app-sign-up></app-sign-up>
    </ng-container>
  </ng-template>
</section>
<p-toast></p-toast>
