<div class="card">
  <div class="logo">
    <img src="/images/logo.png" alt="logo da pagina de login" />
  </div>

  <div class="container">
    <form class="form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input formControlName="email" pInputText id="email" type="text" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="password">Password</label>
        <input formControlName="senha" pInputText id="password" type="password" />
      </div>
      <div class="flex">
        <button pButton type="submit" label="Sign In" class="w-full" [disabled]="signInForm.invalid"></button>
      </div>
      <div>
        <p class="text-center text-sm">
          Don't have an account? <a href="/signup">Sign UP</a>
        </p>
      </div>
    </form>

    <div class="divider">
      <p-divider layout="vertical" class="!hidden md:!flex"><b>OR</b></p-divider>
      <p-divider layout="vertical" class="!flex md:!hidden" align="center"><b>OR</b></p-divider>
    </div>

    <div class="social-button">
      <app-google-signin></app-google-signin>
    </div>
</div>

