section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 1rem;

  .container-Title {
    font-family: 'poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding: 2rem 0 0 1rem;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }
}
