<section>
  <app-banner></app-banner>
  <div class="container-Title">
    <h1>Minhas Viagens Recentes</h1>
  </div>
  <div class="container">
    <app-primmeng-card
      title="Férias na Europa"
      data="10/12/2025 - 20/12/2025"
      destination="Paris, Roma, Barcelona"
      coast="15.000,00"
    ></app-primmeng-card>

    <app-primmeng-card
      title="Nordeste Brasileiro"
      data="15/01/2026 - 30/01/2026"
      destination="Recife, Natal, Fortaleza"
      coast="8.500,00"
    ></app-primmeng-card>

    <app-primmeng-card
      title="Feriado em Gramado"
      data="12/06/2025 - 15/06/2025"
      destination="Gramado, Canela"
      coast="3.200,00"
    ></app-primmeng-card>
  </div>
  <app-how-works></app-how-works>
</section>
