<section>
  <h2>Como Funciona</h2>
  <div class="cards">
    <app-card
    title="Organize Destinos e Datas"
    description="Defina para onde quer ir e quando. Planeje múltiplos destinos em uma única viagem."
    icon="pi pi-calendar"
    ></app-card>

    <app-card
    title="Planeje seus Passeios"
    description="Organize atividades por dia e horário. Nunca mais perca uma atração importante."
    icon="pi pi-list-check"
    ></app-card>

    <app-card
    title="Controle seus Gastos"
    description="Registre todos os custos e mantenha seu orçamento sob controle durante toda a viagem."
    icon="pi pi-wallet"
    ></app-card>

    <app-card
    title="Visualize seu Roteiro"
    description="Tenha uma visão completa da sua viagem com resumos detalhados de itinerário e gastos."
    icon="pi pi-chart-bar"
    ></app-card>
  </div>
  <a routerLink="/newtrip" routerLinkActive="active">Comece a Planejar Gratuitamente</a>
</section>
